.titulo{
    background-color: aqua;
    color: black;
    margin-top: 60px;
    padding: 20px;

}

.footer{
    background-color: black;
    font-size: 16px;
    color: antiquewhite;
    margin-top: 25%;
    flex: auto;
}

.comentario{
    margin-top: 10px;
    padding: 10px;
}
.contactar{
    padding: 12px;
}
.portadaimg{

    margin: 10px;
    padding: 5px;
    width:1000px ;
    
}