.jumbotron {
  background-color: rgba(223, 220, 68, 0.667);
  color: black;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 0px; }

.footer {
  margin-top: 40%;
  background-color: black;
  font-size: 16px;
  color: rgba(223, 220, 68, 0.667);
  margin-top: 25%;
  flex: auto;
  margin-bottom: 0px; }

.comentario {
  margin-top: 10px;
  padding: 10px; }

.contactar {
  padding: 12px; }

.portadaimg {
  margin: 10px;
  padding: 5px;
  width: 1000px; }
