.jumbotron {
  background-color: #544b55;
  color: black;
  padding: 20px;
  margin-top: 70px;
  margin-bottom: 5px;
}
.footer {
  background-color: #544b55;
  font-size: 16px;
  color: #544b55;
  flex: auto;
  margin-top: 50px;
  margin-bottom: 0px;
}
.comentario {
  margin-top: 10px;
  padding: 10px;
}
.contactar {
  padding: 12px;
}
.portadaimg {
  margin: 10px;
  padding: 5px;
  width: 1000px ;
}
