
@yellow:rgb(84, 75, 85);
.margenes(@top:0px, @bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron{
    background-color: @yellow;
    color: black;
    padding: 20px;
    .margenes(70px, 5px);


}

.footer{
    background-color:@yellow;
    font-size: 16px;
    color: @yellow;
    flex: auto;
    .margenes(50px, 0px);
}

.comentario{
    margin-top: 10px;
    padding: 10px;
}
.contactar{
    padding: 12px;
}
.portadaimg{

    margin: 10px;
    padding: 5px;
    width:1000px ;
    
}