$yellow:rgba(223, 220, 68, 0.667);
$green: #189E51;
@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color:$yellow;
    color: black;
    padding: 30px;
    @include margenes(50px,0px)
}

.footer{
    margin-top: 40%;
    background-color: black;
    font-size: 16px;
    color: $yellow;
    margin-top: 25%;
    flex: auto;
    @include margenes(10px,0px)
}

.comentario{
    margin-top: 10px;
    padding: 10px;
}
.contactar{
    padding: 12px;
}
.portadaimg{

    margin: 10px;
    padding: 5px;
    width:1000px ;
    
}